.question {
  background: white;
  border-radius: 0.5rem;
  padding: 2.5rem;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12) !important;
  width: 500px;
}

@media screen and (max-width: 600px) {
  .question {
    padding: 2rem;
    width: 200px;
  }
}
