.review {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.review-card {
  height: 100px;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
  padding: 0.5rem;
}

.review-container {
  box-sizing: border-box;
  padding: 2rem;
  margin: 0 !important;
}

.review-link {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .review-card {
    padding: 0.1rem;
    height: 110px;
  }
}
